/*
*** General ***
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
  font-family: sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

.App,
#map,
.infoBox {
	height: 100%;
}

.App {
  width: 100%;
}

#map {
  width: 100%;
}


/*
*** InfoWindow ***
*/

.infoWindow-box {
  max-width: 200px;
  padding: 10px;
  box-shadow: 2px 4px 4px rgba(170,170,170,0.75);
}

.infoWindow-box header {
  margin-bottom: 10px;
}

.infoWindow-box header p {
  color: #aaa;
  font-style: italic;
  font-size: 12px;
  margin: 0 0 5px;
}

.infoWindow-box header h2 {
  font-size: 24px;
  margin: 0;
}

.infoWindow-box header hr {
  margin: 10px 0;
}



/*
*** InfoBox ***
*/

.infoBox {
  width: 250px;
  position: absolute;
  left: -185px;
  z-index: 100;
  background: white;
  transition: left 0.3s ease;
}

.infoBox.open {
  left: 0;
}

.infoBox header {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infoBox header .menu {
  min-width: 55px;
  height: 40px;
  background: #dadada;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox header .menu:hover {
  border: 1px solid black;
}

.infoBox header form {
  margin-right: 5px;
}

.infoBox header form .info-input {
  width: 180px;
  line-height: 28px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid blue;
  outline: none;
  background: white;
}

.infoBox header form .info-input:hover {
  border: 1px solid red;
}

.infoBox header form .info-input:focus {
  border: 1px solid red;
  background: #fffdda;
}

.infoBox .location-list {
  padding: 5px;
}

.infoBox .location-list .location {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 0;
}

.infoBox .location-list .location:focus {
  outline: none;
}

.infoBox .location-list .location .location-icon {
  width: 60px;
  height: 40px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox .location-list .location .location-icon img {
  display: block;
  height: 100%;
}

.infoBox .location-list .location .location-name {
  min-width: 180px;
  line-height: 40px;
  font-size: 18px;
  padding: 5px;
  background: white;
  transition: all 0.3s ease;
}

.infoBox .location-list .location:hover .location-name {
  background: #ddd;
}

/*
*** MEDIA QUERY
*/

@media only screen and (min-width: 420px) {
  .App {
    display: flex;
    flex-flow: row nowrap;
  }

  #map {
    width: calc(100% - 250px);
  }

  .infoBox {
    min-width: 250px;
    position: relative;
    left: 0;
  }
}

@media only screen and (min-width: 600px) {
  .infoWindow-box {
    max-width: 500px;
  }
}
